/* Add your custom styles here */
/* For example: */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.div {
    box-shadow: 1px 5px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;

}

.div h2 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 40px;
}

input {
    margin-bottom: 10px;

}

button {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
    height: 40px;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.output {
    width: 50%;
    margin-top: 50px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    padding: 10px 0;

    border-radius: 20px;
    box-shadow: 1px 5px 5px 5px rgba(0, 0, 0, 0.2);

}

.output>h2 {
    margin-bottom: 20px;
}

.header {
    position: absolute;
    top: 0;
    width: 100%;
}



header {
    margin-bottom: 20px;
}